@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root-container {
  background: #161717;
  min-height: 100vh;
  padding: 0px 50px;
}

section {
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
}

h5 {
  font-size: 1.4rem;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

h3 > span {
  font-size: 4rem;
  font-weight: 600;
  color: #ed5847;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: .85rem;
}

@media(max-width: 476px) {
  .root-container {
    padding: 0;
  }
  section{
    padding: 0;
  }
  .body > .right {
    margin-top: 1.2rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  h3 > span {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ed5847;
  }

  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .right > h6 {
    font-size: 1.1rem !important;
  }
}

section > .content {
  background: #0c0d0d;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
}

.content > div {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.content > div > .head {
  flex: 0.5;
}

.content > div > .body {
  flex: 2;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.body > .left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.body > .left > .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.body > .left > .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.body > .right > .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.body > .right > .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.right > h6 {
  font-size: 1.7rem;
}

.bottom > .button {
  width: 120px;
  background-color: #eb5746;
  border: none;
  display: flex;
  justify-content: space-between;
}

.body > .right {
  flex: 1;
}

.content > div > .end {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animation {
  /* transform: translateY(100px); */
  animation: slideTop 6s;
}


@keyframes slideTop {
  0% {
    transform: translateY(300px)
  }
  100% {
    transform: translateY(0px)
  }
}