@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root-container {
  background: #161717;
  min-height: 100vh;
  padding: 0px 50px;
}

section {
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
}

h5 {
  font-size: 1.4rem;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

h3 > span {
  font-size: 5rem;
  font-weight: 600;
  color: #ed5847;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: .85rem;
}

@media(max-width: 476px) {
  .root-container {
    padding: 0;
  }
  section{
    padding: 0;
  }
  section > .content {
    height: inherit !important; 
  }
  .body > .right {
    margin-top: 1.2rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .left > .top > h3 {
    font-size: 3rem !important;
  }
  
  h3 > span {
    font-size: 3rem;
    font-weight: 600;
    color: #ed5847;
  }

  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .right > h6 {
    font-size: 1.1rem !important;
  }
  .body {
    flex-direction: column !important;
    padding-top: 2rem !important;
  }
  .mt-c {
    margin-top: 4rem !important;
  }
  .mt-k {
    margin-top: 6rem !important;
  }
  .body > .left > .top {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .content > div > .head {
    flex: 0 1 !important;
  }

  .body > .left-row {
    flex-direction: column !important;
  }

  .item > h4 {
    font-size: 2rem !important;
  }

  .body > .to-center {
    padding: 0px !important;
  }

  .to-center > .item {
    align-items: center !important;
  }

  .title-abs > h3, .title-abs-top > h3 {
    font-size: 6rem !important;
  }

  .to-center > .item > h3 {
    font-size: 3rem !important;
  }

  .to-center > .item > div {
    max-width: 90% !important;
  }
  
  .content > div > .end > .itemColSm {
    justify-content: flex-start !important;
  }

  .end > .itemColSm > div:nth-child(n) {
    margin-top: .5rem !important;
  }

  .end > .itemColSm > div:first-child {
    margin-top: 0 !important;
  }

  .card-h {
    height: 200px !important;
  }

  .card-c {
    min-height: 80px !important;
  }

  .card > .card-body > h3 {
    font-size: 2.5rem !important;
  }

  .card-h > .card > .card-body > h3 {
    font-size: 1.8rem !important;
  }
}

.mt-c, .mt-k {
  margin-top: .25rem;
}

section > .content {
  background: #0c0d0d;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: url('./assets/images/rsz_scroll.png'),auto;
}

.card-c > .card > .card-body {
  display: flex;
  flex-direction: column;
}

.card-h > .card > .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > .card-body > h3 {
  font-size: 3rem;
}

.card > .card-body > h6 {
  font-size: 1rem;
}

.content > div {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.content > div > .head {
  flex: 0.5;
}

.content > div > .body {
  flex: 2;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.body > .to-center {
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.to-center > .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.to-center > .item > h3 {
  font-size: 4rem;
}

.to-center > .item > div {
  max-width: 50%;
}

.to-center > .item > div > p {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.title-abs {
  position: absolute;
  top: 42%;
  left: 0;
  /* transform: translate(0, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-abs-top {
  position: absolute;
  bottom: 30%;
  left: 0;
  /* transform: translate(0, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-abs > h3, .title-abs-top > h3 {
  font-size: 10rem;
}

.body > .left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.body > .left-row {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.left-row > .item {
  flex: 1;
}

.item > h4 {
  font-size: 6.5rem;
  font-weight: 600;
}

.card-h {
  height: 400px;
}

.card-c {
  min-height: 120px;
}

.card-c > .card {
  height: inherit;
}

.body > .left > .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.left > .top > h3 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 3;
}

.body > .left > .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.body > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.body > .center {
  flex: 1;
}

.body > .right > .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.top > h4 {
  font-size: 4rem;
}

.body > .right > .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.right > .skill {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right > .skill > .skill-level {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.skill > .skill-level:first-child {
  margin-top: 0 !important;
}

.skill > .skill-level:nth-child(n) {
  margin-top: 1rem;
}

.skill-level > .label {
  color: #fff;
  width: 30%;
}

.skill-level > .progress {
  margin-left: 1rem;
}

.right > h6 {
  font-size: 1.7rem;
}

.bottom > .button {
  width: 120px;
  background-color: #d62424;
  border: none;
  display: flex;
  justify-content: space-between;
}

.content > div > .end {
  flex: 0.3;
  display: flex;
  flex-direction: row;
}

.content > div > .end > .itemRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-right: 1.2rem;
  flex-wrap: wrap;
}

.end > .itemRow > .rsm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: .2 1;
  text-align: center;
  padding: 0px 6px 0px 0px;
}

.end > .itemRow > .rsm:nth-child(n) {
  /* border-right: 1px solid #fff; */
}

.end > .itemRow > .rsm:last-child {
  /* border: 0 !important; */
}

.rsm > h6 {
  font-size: 1rem;
  font-weight: 600;
}

.content > div > .end > .itemCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.content > div > .end > .itemColSm {
  display: flex;
  flex-direction: column;
  flex: 0 1;
  justify-content: space-between;
}

.animation {
  /* transform: translateY(100px); */
  animation: slideTop 6s;
}

input {
  width: 100%;
  height: 50px;
  padding: 6px;
  border-radius: 5px;
  border-color: #fff;
  border: none;
}

input::placeholder {
  color: '#aba7a7';
}

input:focus {
  border: none;
  outline: none;
}


@keyframes slideTop {
  0% {
    transform: translateY(300px)
  }
  100% {
    transform: translateY(0px)
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}